*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Ini Praktikum 3*/
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #eeeee9;
  color: #0a0a0a;
}

.main-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

form,
article {
  background-color: #000000;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: 1px solid #ebeaea;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

legend {
  font-weight: bold;
  padding: 0 0.5rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input [type="text"],
form input [type="number"],
form input [list],
form textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .main-container {
    grid-template-columns: 1fr 1.5fr;
  }
}

button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #e67e22;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #d35400;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #e67e22;
  box-shadow: 0 0 5px rgba(230, 126, 34, 0.5);
}

article img,
article video {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
details summary {
  cursor: pointer;
  padding: 0.75rem 1rem;
  background: linear-gradient(90deg, #f59e0b, #f97316);
  color: white;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
  list-style: none;
}
details summary:hover {
  background: linear-gradient(90deg, #e67e22, #d35400);
  box-shadow: 0 4px 8px rgba(230, 126, 34, 0.3);
}

/* Agar konten di dalam details muncul dengan animasi */
details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
details[open] {
  background-color: #fff7ec;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

meter {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  background: #e5e7eb;
  margin-top: 0.5rem;
}
meter::-webkit-meter-bar {
  background: #eee;
  border-radius: 10px;
}
meter::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, #f59e0b, #e67e22);
  border-radius: 10px;
}
meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(90deg, #facc15, #f59e0b);
}
meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(90deg, #ef4444, #dc2626);
}
